.activity {
	padding-top: 2rem;
	padding-left: 1rem;
	font-size: 2rem;

	@mixin min 768 {
		font-size: 2.5rem;
	}

	&__holder {
		/*background: yellow;*/
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@mixin min 768 {
		}
	}

	&__items {
		/*background: yellow;*/
		padding-bottom: 3rem;
		width: 100%;
		flex-direction: column;

		@mixin min 768 {
			display: flex;
			width: 48%;
		}
	}

	.title {
		font-size: 4.5rem;
	}

	.year{
		text-align: center;
		
	}

	.info {
		text-align: left;
	}
}

.titleYear {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--accent-color);

    @mixin min 768 {
        font-size: 4rem;
    }
}

p {
	padding-left: 1rem;
	font-size: 2rem;

	@mixin min 768 {
		font-size: 2.5rem;
	}
}