.footer {
	&--left {
		text-align: center;
		font-size: 1rem;

		@mixin min 768 {
			text-align: left;
			font-size: 2rem;
		}
	}

	&--right {
		text-align: right;
		/*font-size: 1rem;*/

		@mixin min 768 {
			text-align: right;
			/*font-size: 1.8rem;*/
		}
	}
} 

.socdial {
	max-width: 4rem;
	height: 4rem;
}

.websiteby {
	height: 5rem;
	font-size: 1rem;
	text-align: center;
	padding-bottom: 1rem;

	@mixin min 768 {
		height: 8rem;
		font-size: 1.8rem;
		text-align: center;
		padding-bottom: 2rem;
	}
}